* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Yu Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    margin-top: 160px;
    font-feature-settings: "palt";
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1260px;
    padding-right: 30px;
    padding-left: 30px;
    object-fit: fill;
    margin: 0 auto;
}

.container-m {
    width: 90%;
    max-width: 90vw;
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
}

.defalut {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 42px;
}

.sfont {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 26.6px;
}

.kata {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    padding: 0 30px;
}

.font1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 12px;
    display: block;
}

.font2 {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 21px;
    color: #0d97ff;
    text-decoration: none;
}

.font3 {
    font-size: 10.5px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 18.375px;
}

.font4 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.font5 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 24.5px;
    color: #0d97ff;
    text-decoration: none;
}

.button-text {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 30px;
    width: 260px;
    padding: 15px 10px;
    text-align: center;
    border-radius: 10000px;
    position: relative;
}

.button-yazirusi {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 10px;
    top: 23px;
}

.button-a {
    text-decoration: none;
    display: flex;
}

.button {
    width: 260px;
    height: 60px;
    display: inline-block;
    background-color: #26262a;
    border: none;
    border-radius: 10000px;
    box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.08);
}

.button:hover {
    box-shadow: 0 0 0 0;
    transform: translate3d(0, 5px, 0);
    transition-duration: 0.4s;
    cursor: pointer;
}

.active {
    height: 100px !important;
    transition: all 0.3s ease;
}

.header-wrapper {
    width: 100%;
    background-color: white;
    height: 160px;
    z-index: 99;
    position: fixed;
    top: 0;
    transition: all 0.3s ease;

    .header {
        box-sizing: border-box;
        height: 100%;
        background-color: white;
        z-index: 99;
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 0 30px;
        top: 0;

        img {
            width: 120px;
            height: 38.08px;
            float: left;
        }

        .header-right {
            margin: 0 0 0 auto;
            position: relative;
            float: right;
            height: 100%;

            .header-right2 {
                display: flex;
                margin-right: -50px;
                height: 100%;
                position: relative;

                a {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    width: auto;
                    height: 100%;
                    padding: 0 25px;
                    position: relative;
                    text-decoration: none;

                    .border-first {
                        position: absolute;
                        left: auto;
                        right: 0;
                        top: 0;
                        height: 5px;
                        width: 100%;
                        background-color: #2ad1ff;
                    }

                    .border {
                        position: absolute;
                        left: 0;
                        right: auto;
                        top: 0;
                        height: 5px;
                        width: 0;
                        transform-origin: right top;
                        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
                    }

                    .font5 {
                        color: black;
                        margin: auto 0;
                    }
                }

                a:hover {
                    .border {
                        background-color: #2ad1ff;
                        width: 100%;
                        transform-origin: right top;
                        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                }

                .news {
                    padding-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .header-wrapper {
        height: 110px;

        .header {
            height: 110px;
            width: 90%;
            margin: 0 auto;

            .header-left {
                margin: 0 auto;
            }

            .header-right {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .header-wrapper {
        height: 70px;

        .header {
            height: 70px;

            .header-left {
                margin: 0 auto;
            }

            .header-right {
                display: none;
            }
        }
    }
}

.sitetop-kv {
    height: calc(100vh - 160px);
    position: relative;
    z-index: 1;
    overflow: visible;
    max-height: 700px;
    margin-bottom: 120px;
    padding-bottom: 0;
}

.main1 {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 100%;

    .main1-left {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;

        .logo2 {
            margin-bottom: -30px;
            margin-left: -10px;
            width: 204.16px;
            height: 92.67px;
        }

        h2 {
            font-size: 36px;
            font-weight: 700;
            line-height: 56px;
            letter-spacing: 0.5px;
            margin: 0 0 50px 0;
            right: 0;
            z-index: 99;
        }

        .logo {
            position: absolute;
            top: 0;
        }

        .app {
            margin-right: 6px;
        }

        p {
            font-size: 18px;
            font-weight: 300;
            line-height: 36px;
            letter-spacing: 0.5px;
            margin-bottom: 40px;
        }
    }

    .main1-right {
        position: relative;
        overflow: hidden;
        width: 50%;
        height: 100%;
        margin-left: auto;

        .slide-front {
            z-index: 2;
            width: 240px;
            height: 499.2px;
            max-height: 100%;
            max-width: 35%;
            margin: auto;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        .slide-behaivor {
            z-index: 1;
            height: 100%;
            margin: auto;
            position: absolute;
            bottom: 0;
            width: auto;
            right: 0;
            top: 0;
            left: 0;

            .swiper-wrapper {
                transform: scale(1.2, 1.2) translate3d(-5%, 0, 0);
            }

            .swiper-slide {
                transform: translate3d(-5%, 0, 0);
            }
        }

        .swiper-container {
            width: 100%;
        }

        .swiper-slide {
            img {
                width: auto;
                height: calc(100vh - 160px);
            }
        }
    }

    .main1-right2 {
        position: relative;
        z-index: 60;
        top: 0;
    }
}

.main2 {
    margin-bottom: 60px;
    padding-bottom: 60px;

    .contain {
        .text {
            max-width: 590px;

            .f-1 {
                h2 {
                    z-index: 1;
                    margin-top: 0;
                    margin-bottom: 30px;
                    font-size: 28px;
                    line-height: 1.5;
                }
            }

            .f-2 {
                margin-bottom: 10px;
                line-height: 1.9;
                font-weight: 300;
            }

            .span {
                margin-bottom: 30px;
                color: #808084;
            }

            .f-3 {
                width: 220px;
                margin-bottom: 50px;

                img {
                    max-width: 100%;
                    vertical-align: top;
                    display: inline-block;
                }
            }
        }

        /*これ以外の実装方法もありそう*/
        .syasin {
            position: relative;
            top: 0;
            display: flex;
            width: 60.8%;
            /*ボタン横に持っていきながら、上に飛び出しを可能にしている*/
            margin-top: -100px;
            margin-left: auto;
            align-items: flex-start;

            .syasin1-f {
                overflow: hidden;
                width: 100%;
                height: 0;
                padding-top: 33%;
                position: relative;

                .syasin1 {
                    will-change: transform;
                    transform-style: preserve-3d;
                    margin-top: -10%;
                    margin-left: -10%;
                    position: absolute;
                    top: 0;
                    max-width: 120%;
                    border: 0;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }

        .syasin2-f {
            will-change: transform;
            transform-style: preserve-3d;
            top: auto;
            overflow: hidden;
            width: 100%;
            margin-top: 20%;
            padding-top: 33%;

            .syasin2 {
                will-change: transform;
                margin-top: -10%;
                margin-left: -2%;
                position: absolute;
                top: 0;
                max-width: 120%;
                border: 0;
                vertical-align: middle;
                display: inline-block;
            }
        }
    }

    .circle {
        will-change: transform;
        transform-style: preserve-3d;
        position: absolute;
        top: 800px;
        right: -50px;
        z-index: -20 !important;
        width: 50vw;
        height: 50vw;
        max-height: 900px;
        max-width: 900px;
        border-radius: 100000px;
        background-color: #2ad1ff;
    }
}

@media screen and (max-width: 991px) {
    .main2 {
        margin-bottom: 120px;
        padding-bottom: 0;

        .container {
            max-width: 90vw;
            padding-right: 0;
            padding-left: 0;

            .contain {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap-reverse;

                .f-2 {
                    display: none;
                }
            }
        }
    }
}

.main3 {
    position: relative;
    margin-bottom: 120px;

    .contain2 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .text {
            max-width: 590px;

            .f-1 {
                position: relative;
                h2 {
                    position: relative;
                    z-index: 1;
                    margin-top: 0;
                    margin-bottom: 30px;
                    font-size: 28px;
                    line-height: 1.5;
                }
            }

            .f-2 {
                margin-bottom: 30px;
                line-height: 1.9;
                font-weight: 300;
            }

            .f-3 {
                width: 220px;
                margin-bottom: 50px;

                img {
                    border: 0;
                    max-width: 100%;
                    vertical-align: middle;
                    display: inline-block;
                }
            }

            .button {
                .f-4 {
                    color: white;
                    text-decoration: none;
                }
            }
        }
        .syasin2 {
            position: relative;
            top: 0;
            display: flex;
            width: 60.8%;
            margin-top: 50px;
            margin-right: auto;

            .syasin3-f {
                overflow: hidden;
                width: 100%;
                padding-top: 55%;
                position: relative;

                .syasin3 {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: auto;
                    display: block;
                    max-width: 120%;
                    margin-top: -5%;
                    margin-left: -10%;
                    display: inline-block;
                }
            }
        }

        .syasin2-f {
            will-change: transform;
            transform-style: preserve-3d;
            top: auto;
            overflow: hidden;
            width: 100%;
            margin-top: 20%;
            padding-top: 33%;

            .syasin2 {
                margin-top: -10%;
                margin-left: -2%;
                position: absolute;
                top: 0;
                max-width: 120%;
                border: 0;
                vertical-align: middle;
                display: inline-block;
            }
        }
    }

    .circle2 {
        position: absolute;
        position: absolute;
        left: -50px;
        top: 160px;
        right: 0;
        z-index: -1;
        width: 50vw;
        height: 50vw;
        max-height: 900px;
        max-width: 900px;
        border-radius: 100000px;
        background-color: #2ad1ff;
    }
}

/*.main2 {
    margin: 120px auto 0;
    position: relative;

    .main2-1 {
        h2 {
            margin: 0 0 35px 0;
        }

        p {
            margin: 0 0 15px 0;
        }

        span {
            margin-bottom: 30px;
        }

        .cash {
            margin-top: 30px;
            display: block;
            width: 220px;
            height: 43.27px;
        }

        .main2-3 {
            width: 325px;
            height: 215px;
            position: absolute;
            top: 365px;
            right: 360px;
        }

        .main2-4 {
            width: 325px;
            height: 215px;
            position: absolute;
            top: 495px;
            right: 35px;
        }
    }

    .main2-2 {
        position: relative;

        .main2-2-right {
            margin: 0 0 0 auto;
            max-width: 483.45px;
        }

        .main2-5 {
            position: absolute;
            width: 655px;
            height: 355px;
            top: 375px;
            left: 0;
        }
    }
}*/

/*.main3 {
    display: flex;
    padding: 0 30px;
    width: 90%;
    margin: 150px auto 120px;
    box-sizing: border-box;

    img {
        width: 220px;
        height: 462px;
        margin: 0 10px;
    }

    h2 {
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 42px;
        margin: 0 0 30px 0;
        font-feature-settings: "palt";
    }

    p {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 26.6px;
        margin: 0 0 104px 0;
        font-feature-settings: "palt";
    }

    .main3-left {
        width: 47.5%;

        .image1 {
            display: flex;
            margin-top: 24px;
            margin-left: 16px;

            img {
                border-radius: 20px;
            }
        }
    }

    .main3-right {
        width: 47.5%;
        margin: 0 0 50px auto;

        .image2 {
            display: flex;
            margin-top: 24px;
            margin-left: 16px;

            img {
                border-radius: 20px;
            }
        }
    }
}*/

.main4 {
    margin-bottom: 120px;

    .section {
        display: flex;

        .main4-right {
            display: flex;
            margin-right: 25px;

            .text {
                margin-bottom: 50px;
                max-width: 590px;

                .he {
                    h2 {
                        margin-top: 0;
                        margin-bottom: 30px;
                    }
                }

                .sfont {
                    margin-bottom: 30px;
                }
            }

            .main4-rimg {
                z-index: 2;
                display: flex;
                justify-content: center;

                .img50 {
                    margin: 0 10px;
                    border-radius: 20px;
                    box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
                    width: 220px;
                    max-width: 100%;
                }

                .img51 {
                    margin: 0 10px;
                    border-radius: 20px;
                    box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
                    max-width: 100%;
                    width: 220px;
                }
            }
        }

        .main4-left {
            display: flex;
            margin-left: 25px;

            .text {
                margin-bottom: 50px;
                max-width: 590px;

                .he {
                    h2 {
                        margin-top: 0;
                        margin-bottom: 30px;
                    }
                }

                .sfont {
                    margin-bottom: 30px;
                }
            }

            .main4-limg {
                display: flex;
                justify-content: center;

                .img52 {
                    margin: 0 10px;
                    border-radius: 20px;
                    box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
                    max-width: 100%;
                    width: 220px;
                }

                .img53 {
                    margin: 0 10px;
                    border-radius: 20px;
                    box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
                    max-width: 100%;
                    width: 220px;
                }
            }
        }
    }
}

.nanasi {
    margin-top: 120px;
}

.main10 {
    overflow: hidden;
    margin-bottom: 120px;

    .content {
        .contain {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: row;
            align-items: center;

            .section {
                max-width: 500px;
                margin-right: 50px;

                .text1 {
                    margin-bottom: 30px;
                    z-index: 2;

                    h2 {
                        position: relative;
                        margin: 0;
                    }

                    .circle2 {
                        z-index: 1;
                        position: absolute;
                        left: 18em;
                        top: -20px;
                        bottom: auto;
                        width: 50px;
                        height: 50px;

                        .circle3 {
                            display: flex;
                            width: 100%;
                            height: 100%;
                            max-height: 50px;
                            max-width: 50px;
                            justify-content: center;

                            align-items: center;
                            border-radius: 100000px;
                            background-color: #ffc700;
                            font-size: 1em;
                        }
                    }
                }

                .text2 {
                    margin-bottom: 30px;
                    line-height: 1.9;
                    font-weight: 300;
                }
            }
        }
    }
}

.main11 {
    overflow: visible;
    margin-bottom: 70px;

    .contain {
        z-index: 1;
        display: flex;
        align-items: center;

        .main11-left {
            width: 550px;
            margin-right: 50px;
            z-index: 2;
            display: flex;

            .d61 {
                margin: 0 10px;
                border-radius: 20px;
                box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
                max-width: 100%;
                width: 220px;
            }

            .d62 {
                position: relative;
                margin: 0 10px;
                border-radius: 20px;
                box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
                max-width: 100%;
                width: 220px;
            }
        }

        .main11-right {
            max-width: 590px;

            .text11 {
                h2 {
                    margin-bottom: 30px;
                }
            }

            .text12 {
                margin-bottom: 30px;
                line-height: 1.9;
                font-weight: 300;
            }

            .text15 {
                display: flex;
                margin-bottom: 50px;

                .f102 {
                    display: flex;
                    margin-right: 15px;
                    margin-left: 15px;
                    flex-direction: column;
                    align-items: center;

                    .f98 {
                        width: 50px;
                        height: 50px;
                        margin-bottom: 20px;

                        .f90 {
                            z-index: 1;
                            display: block;
                            margin-right: 0;
                        }
                    }
                }

                h3 {
                    margin-top: 0;
                    margin-bottom: 0;
                    color: #26262a;
                    font-size: 12px;
                    line-height: 1.5;
                    font-weight: 300;
                    text-align: center;
                }
            }
        }
    }
}

/*.main4 {
    .main4-1-left {
        height: 546px;
        margin-bottom: 85px;

        h2 {
            margin: 0 0 35px 0;
        }
        span {
            display: block;
        }
    }

    .main4-2 {
        display: flex;

        .main4-2-left {
            display: flex;

            .main4-3 {
                width: 220px;
                height: 460px;
                margin: 0 10px;
            }

            .main4-4 {
                width: 220px;
                height: 460px;
                margin: 0 10px;
            }
        }

        .main4-2-right {
            margin: 0 auto 0 0;
            .images {
                display: flex;

                img {
                    margin: 0 15px;
                }

                .main4-7 {
                    width: 50px;
                    height: 49px;
                }
            }
        }
    }
}*/

.main5 {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #2ad1ff;

    .main5-wrapper {
        width: 90%;
        max-width: 1260px;
        padding-right: 30px;
        padding-left: 30px;
        /*object-fit: fill;*/
        margin: 0 auto;

        .main5-contain {
            margin-bottom: 70px;

            .defalut {
                margin-top: 0;
                margin-bottom: 30px;
            }

            .sfont {
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0.5px;
                line-height: 23.8px;
                color: black;
                text-align: left;
            }

            p {
                margin-top: 0;
                margin-bottom: 30px;
            }
        }

        .company {
            position: relative;
            display: block;
            overflow: visible;
            width: auto;
            margin-right: -8.3333vw;
            flex-wrap: nowrap;
            display: flex;
            align-items: flex-start;
            margin-bottom: 30px;
        }

        .company-low {
            display: flex;
            margin-bottom: 0;
            flex-direction: row;
            width: 100%;
            flex-wrap: nowrap;
            align-content: space-between;
            border-right-color: #000;
        }

        .company-colum {
            display: flex;
            width: 100%;
            max-width: 16.6666%;
            margin-right: 0;
            flex-direction: column;
        }

        .wrap {
            display: flex;
            width: 100%;
            height: 154px;
            min-height: auto;
            margin-bottom: 0;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            background-color: #fff;

            .font3 {
                margin: 0;
            }
        }

        .logo5 {
            display: block;
            width: 80%;
            height: 40px;
            max-width: 165px;
            margin-right: auto;
            margin-bottom: 1px;
            margin-left: auto;
            align-items: center;
            text-align: center;

            img {
                border: 0;
                max-width: 100%;
                vertical-align: middle;
                display: inline-block;
            }
        }

        p {
            color: #808084;
            font-size: 10.5px;
            font-weight: 300;
            letter-spacing: 0.5px;
            line-height: 18.375px;
            text-align: center;
            margin: 0;
        }

        .main5-after {
            .sfont {
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0.5px;
                line-height: 23.8px;
                color: black;
                text-align: left;
            }

            .defalut {
                margin-bottom: 30px;
            }

            p {
                margin-top: 0;
                margin-bottom: 30px;
            }

            .font3 {
                margin: 0;
            }

            .houzin {
                margin-top: 40px;
                display: flex;

                p {
                    margin: 0;
                    cursor: pointer;
                }
            }

            .yazirusi {
                background-image: url(https://global-uploads.webflow.com/5db15c3bca3871afff172c17/5f3b7d4bb40b9fe7d1db5672_direction_right-link-textcolor.svg);
                background-size: contain;
                width: 14px;
                height: 14px;
                margin: 4px 0 0 4px;
            }
        }
    }
}

.main6 {
    padding: 120px 0;
    background-color: #003ab8;
    color: #fff;

    .none {
        display: none;
    }

    .main6-1 {
        margin-bottom: 70px;

        h2 {
            margin-top: 0;
            margin-bottom: 35px;
            color: #fff;
            font-size: 42px !important;
            line-height: 1.5;

            img {
                position: relative;
                margin-bottom: -30px;
                margin-right: 5px;
                right: 5px;
                width: 198.56px;
                height: 90px;
                font-size: 70px;
            }
        }
        .sfont {
            span {
                font-weight: 700;
            }
        }

        .app {
            margin-top: 50px;

            img {
                display: inline-block;
                margin-right: 5px;
                text-align: left;
            }
        }
    }

    .main6-2 {
        display: flex;
        margin-right: -8.333vw;
        margin-bottom: 70px;
        padding-top: 70px;
        padding-bottom: 40px;
        padding-left: 70px;
        background-color: #fff;
        color: #26262a;
        flex-direction: column;

        h2 {
            font-size: 28px;
            margin-top: 0;
            margin-bottom: 50px;
            line-height: 42px;
        }

        .basic {
            display: flex;
            margin-bottom: 30px;
            flex-direction: row;
            align-items: flex-end;

            .basic-left {
                width: 350px !important;
                margin-right: 50px;
                flex: 0 0 auto;

                .font1 {
                    color: #808084;
                    margin-bottom: 10px;
                }

                .attention {
                    display: inline-block;
                    width: 270px;
                    margin-bottom: 20px;
                    padding: 10px 5px;
                    border-radius: 2px;
                    background-color: #ffc700;
                    text-align: center;
                    color: #26262a;
                    line-height: 12px;
                }

                h3 {
                    margin: 0;
                }
            }

            .basic-right {
                width: 100%;
                color: #808084;

                .border {
                    width: 100%;
                    height: 1px;
                    background-color: #b8b8bc;
                    color: #b8b8bc;
                }

                .border-content {
                    display: flex;
                    align-items: center;

                    .border-1 {
                        display: flex;
                        width: 100%;
                        margin-right: 30px;
                        margin-left: -5px;
                        flex-direction: column;
                        align-items: flex-start;

                        .mark {
                            display: flex;
                            margin-top: -33px;
                            flex-direction: column;
                            align-items: center;
                            line-height: 1;
                        }

                        .number {
                            margin-bottom: 10px;
                            font-family: Avenirnext, Arial, sans-serif;
                            color: #b8b8bc;
                            font-size: 20px;
                            line-height: 1;
                            font-weight: 600;
                        }

                        .point {
                            width: 5px;
                            height: 5px;
                            border-radius: 10000px;
                            background-color: #b8b8bc;
                            color: #b8b8bc;
                        }

                        img {
                            border: 0;
                            width: 55px;
                            max-width: 100%;
                            vertical-align: middle;
                            display: inline-block;
                            margin-right: 10px;
                        }

                        .border1-content {
                            display: flex;
                            margin-right: 0;
                            margin-left: -22px;
                            padding-top: 25px;
                            align-items: center;

                            .font2 {
                                line-height: 18px;
                                color: #26262a;

                                span {
                                    color: #0d97ff;
                                }
                            }
                        }
                    }
                }
            }
        }

        .hattenn {
            display: flex;
            margin-bottom: 30px;
            flex-direction: row;
            align-items: flex-end;

            .hattenn-left {
                width: 350px !important;
                margin-right: 50px;
                flex: 0 0 auto;

                .font1 {
                    color: #808084;
                    margin-bottom: 10px;
                }

                .attention {
                    display: inline-block;
                    width: 270px;
                    margin-bottom: 20px;
                    padding: 10px 5px;
                    border-radius: 2px;
                    background-color: #ffc700;
                    text-align: center;
                    color: #26262a;
                    line-height: 12px;
                }

                h3 {
                    margin: 0;
                }
            }

            .hatten-right {
                width: 100%;
                color: #808084;

                .border {
                    width: 100%;
                    height: 1px;
                    background-color: #b8b8bc;
                    color: #b8b8bc;
                }

                .border-content {
                    display: flex;
                    align-items: center;

                    .border-1 {
                        display: flex;
                        width: 100%;
                        margin-right: 30px;
                        margin-left: -5px;
                        flex-direction: column;
                        align-items: flex-start;

                        .mark {
                            display: flex;
                            margin-top: -33px;
                            flex-direction: column;
                            align-items: center;
                            line-height: 1;
                        }

                        .number {
                            margin-bottom: 10px;
                            font-family: Avenirnext, Arial, sans-serif;
                            color: #b8b8bc;
                            font-size: 20px;
                            line-height: 1;
                            font-weight: 600;
                        }

                        .point {
                            width: 5px;
                            height: 5px;
                            border-radius: 10000px;
                            background-color: #b8b8bc;
                            color: #b8b8bc;
                        }

                        img {
                            border: 0;
                            width: 55px;
                            max-width: 100%;
                            vertical-align: middle;
                            display: inline-block;
                            margin-right: 10px;
                        }

                        .border1-content {
                            display: flex;
                            margin-right: 0;
                            margin-left: -22px;
                            padding-top: 25px;
                            align-items: center;

                            .font2 {
                                line-height: 18px;
                                color: #26262a;

                                span {
                                    color: #0d97ff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .main6 {
        padding: 90px 0;

        .container {
            padding: 0;

            .main6-2 {
                padding-top: 50px;
                padding-left: 50px;

                .basic {
                    display: block;

                    .basic-left {
                        width: auto !important;
                        margin-bottom: 70px;
                    }

                    .attention {
                        padding: 8px 5px;
                    }

                    .none {
                        display: none;
                    }

                    .basic-right {
                        .border-content {
                            .border1-content {
                                padding-top: 10px;
                            }
                        }
                    }
                }

                .hattenn {
                    display: block;

                    .hattenn-left {
                        width: auto !important;
                        margin-bottom: 70px;
                    }

                    .attention {
                        padding: 8px 5px;
                    }

                    .none {
                        display: none;
                    }

                    .hatten-right {
                        .border-content {
                            .border1-content {
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .main6 {
        padding-top: 70px;
        padding-bottom: 70px;

        .container {
            .main6-1 {
                margin-bottom: 50px;

                h2 {
                    font-size: 22px !important;
                    line-height: 66px;
                    margin-bottom: 25px;

                    img {
                        top: -10px;
                        width: 125px;
                        height: 56px;
                    }
                }

                .app {
                    margin-top: 35px;
                }
            }

            .main6-2 {
                padding: 40px 0 0 40px;
                margin-bottom: 50px;

                .none {
                    display: block;
                }

                h2 {
                    font-size: 19px;
                    line-height: 28.5px;
                    letter-spacing: 0.5px;
                    margin-bottom: 30px;
                }

                h3 {
                    font-size: 17px;
                }

                .basic {
                    margin-bottom: 40px;
                }

                .basic-right {
                    position: relative;
                    padding-left: 25px;

                    .border {
                        width: 1px;
                        height: 100%;
                        position: absolute;
                    }

                    .border-content {
                        flex-direction: column;
                        margin-top: -30px;

                        .border-1 {
                            margin-bottom: 10px;
                            margin-left: -20px;
                            flex-direction: row;

                            .mark {
                                flex-direction: row;
                                margin-top: -10px;
                                /*margin-top: -8px;
                                padding-left: 2px;*/

                                .number {
                                    margin-right: 12px;
                                    margin-bottom: 0px;
                                }
                            }

                            img {
                                width: 45px;
                            }

                            .font2 {
                                margin: 0;
                            }

                            .border1-content {
                                margin-left: 20px;
                            }
                        }
                    }
                }

                .hattenn {
                    margin-bottom: 40px;
                }

                .hatten-right {
                    position: relative;
                    padding-left: 25px;

                    .visible {
                        display: none;
                    }

                    .none {
                        display: block;
                    }

                    .border {
                        width: 1px;
                        height: 100%;
                        position: absolute;
                    }

                    .border-content {
                        flex-direction: column;
                        margin-top: -30px;

                        .border-1 {
                            margin-bottom: 10px;
                            margin-left: -20px;
                            flex-direction: row;

                            .mark {
                                flex-direction: row;
                                margin-top: -10px;
                                /*margin-top: -8px;
                                padding-left: 2px;*/

                                .number {
                                    margin-right: 12px;
                                    margin-bottom: 0px;
                                }
                            }

                            img {
                                width: 45px;
                            }

                            .font2 {
                                margin: 0;
                            }

                            .border1-content {
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }

            .button {
                margin: 0 auto;
                display: block;
            }
        }
    }
}

.main7 {
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #b8b8bc;
    border-radius: 1px;

    .nakami {
        position: relative;
        z-index: 1;
        display: block;
        flex-direction: column;
        align-items: flex-start;

        .news-tab {
            margin-bottom: 20px;
            border-bottom: 1px solid #b8b8bc;
            font-weight: 300;

            input {
                display: none;
            }

            .wrap {
                display: flex;

                .tab-btn {
                    position: relative;
                    cursor: pointer;
                }

                .tabs {
                    padding: 0 25px 30px;
                }

                .mitei {
                    display: flex;

                    .tab-light {
                        width: 14px;
                        height: 14px;
                        margin-right: 5px;

                        .tab-light-hon {
                            width: 100%;
                            height: 100%;
                            margin: auto;
                            border-radius: 10000px;
                            background-color: #b8b8bc;
                        }

                        .tab-light-hon-active {
                            width: 100%;
                            height: 100%;
                            margin: auto;
                            border-radius: 10000px;
                            background-color: #2ad1ff;
                            transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
                        }
                    }

                    p {
                        line-height: 14px;
                        margin: 0;
                    }
                }

                .bar {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 5px;
                    background-color: #2ad1ff;
                    left: 0;
                    bottom: -2px;
                    transition: all 300ms ease;
                }

                .bar.active {
                    width: 100%;
                    height: 5px !important;
                }
            }
        }

        .text16 {
            margin: 0 0 70px 0;

            h2 {
                margin-top: 0;
            }
        }

        .news-content {
            display: block;
            overflow: hidden;

            .show {
                display: block !important;
            }

            .tab-content {
                display: none;
                opacity: 1;
                transition: opacity 150ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
                position: relative;

                .tav {
                    display: block;

                    .news-area {
                        display: block;
                        padding-top: 0;
                        border-radius: 2px;
                        background-color: transparent;

                        .gomi {
                            ul {
                                margin: 0 0 30px 0;
                                padding-left: 0;
                                list-style: none;

                                .additional {
                                    display: flex;
                                }

                                li {
                                    padding-top: 30px;
                                    padding-bottom: 25px;
                                    list-style: none;
                                    border-bottom: 1px solid #eaeaef;

                                    p {
                                        font-weight: 400;
                                        color: #808084;
                                        font-family: "Avenir Next";
                                        margin-bottom: 15px;
                                        margin-top: 0;
                                    }
                                }
                            }

                            .additional {
                                display: flex;

                                a {
                                    text-decoration: none;
                                }

                                img {
                                    width: 14px;
                                    height: 14px;
                                    margin: auto 0 auto 5px;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }
            }
        }

        .tab-content {
            display: none;
        }

        .active {
            display: block;
        }
    }
}

@media screen and (max-width: 991px) {
    .main7 {
        border-bottom: 1px solid rgb(234, 234, 239);

        .container {
            padding: 0;

            .nakami {
                .text16 {
                    margin-bottom: 50px;
                }

                .wrap {
                    .tabs {
                        width: 50%;
                        padding: 20px;
                        margin: 0;

                        .mitei {
                            .tab-light {
                                width: 12px;
                                height: 12px;
                            }

                            .sfont {
                                font-size: 12px;
                                line-height: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .main7 {
        .container {
            .nakami {
                .text16 {
                    margin-bottom: 50px;

                    h2 {
                        font-size: 22px;
                        line-height: 33px;
                    }
                }

                .wrap {
                    flex-wrap: wrap;

                    .tabs {
                        width: 50%;
                        padding: 20px;
                        margin: 0;

                        .mitei {
                            .tab-light {
                                width: 12px;
                                height: 12px;
                            }

                            .sfont {
                                font-size: 12px;
                                line-height: 12px;
                            }
                        }

                        .active {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.main8 {
    white-space: nowrap;
    padding-top: 70px;
    padding-bottom: 50px;
    border-top: 1px solid #eaeaef;

    .none {
        display: none;
    }

    .title {
        display: flex;

        h4 {
            margin-right: 564px;
            margin-bottom: 30px;
        }
    }

    .main8-top {
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: 1px solid rgb(234, 234, 239);
    }

    .main8-logo {
        width: 130px;
        margin-bottom: 30px;
        vertical-align: bottom;
    }

    .logo {
        display: flex;
        width: auto;
    }

    .main8-2 {
        margin-right: 12px;
    }

    .low-wrapper {
        display: flex;
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: 1px solid rgb(234, 234, 239);
    }

    .left-row {
        display: flex;
        margin-right: 50px;

        h4 {
            display: block;
            flex: none;
        }
    }

    .first-row {
        margin-right: 50px;

        a {
            display: block;
            margin-bottom: 15px;
        }
    }

    .right-row {
        display: flex;
        margin-right: 50px;
    }

    .main8-4 {
        .font1 {
            margin-bottom: 30px;
        }

        .font2 {
            padding: 0;
            color: black;
        }

        .main8-5 {
            margin-top: 35px;
        }

        ul {
            margin: 0;
            list-style: none;
            display: flex;

            li {
                padding-right: 12px;
                margin-right: 12px;
                border-right: 1px solid rgb(234, 234, 239);
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .main8 {
        width: 90%;
        padding: 0;
        white-space: nowrap;
        padding-top: 50px;
        padding-bottom: 50px;
        border-top: none;

        .sp-none {
            display: none;
        }

        .none {
            display: block;
        }

        .title {
            display: flex;

            h4 {
                margin-right: 564px;
                margin-bottom: 30px;
            }
        }

        .main8-top {
            padding-bottom: 50px;
            margin-bottom: 50px;
            border-bottom: 1px solid rgb(234, 234, 239);
        }

        .main8-logo {
            width: 120px;
            margin-bottom: 30px;
            vertical-align: bottom;
        }

        .logo {
            display: flex;
            width: auto;
        }

        .main8-2 {
            margin-right: 12px;
        }

        .low-wrapper {
            display: block;
            padding-bottom: 50px;
            margin-bottom: 50px;
            border-bottom: 1px solid rgb(234, 234, 239);
        }

        .left-row {
            display: flex;
            margin-right: 50px;
            margin-bottom: 50px;

            h4 {
                display: block;
                flex: none;
            }
        }

        .first-row {
            margin-right: 50px;

            a {
                display: block;
                margin-bottom: 15px;
            }
        }

        .right-row {
            display: flex;
            margin-right: 50px;
        }

        .main8-4 {
            .font1 {
                margin-bottom: 30px;
            }

            .font2 {
                padding: 0;
                color: black;
            }

            .main8-5 {
                margin-top: 35px;
            }

            ul {
                margin: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                overflow-x: initial;

                li {
                    padding-right: 12px;
                    margin-right: 12px;
                    border-right: 1px solid rgb(234, 234, 239);
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .main8 {
        .main8-top {
            padding-bottom: 40px;
            margin: 0 auto 40px;
            text-align: center;

            .main8-logo {
                display: block;
                margin: 0 auto 30px;
            }

            .logo {
                display: inline-block;

                img {
                    height: 40px;
                }

                .main8-2 {
                    margin-right: 8px;
                }
            }
        }

        .low-wrapper {
            .font1 {
                color: #808084;
                margin-bottom: 15px;
            }

            .none {
                color: black;
                margin-top: 30px;
            }

            .left-row {
                display: block;
                margin: 0;

                .first-row {
                    margin-bottom: 20px;

                    .font1 {
                        color: #808084;
                        margin-bottom: 20px;
                        margin-top: 3px;
                    }

                    .font2 {
                        margin-bottom: 8px;
                    }
                }
            }

            .right-row {
                display: block;
                margin-top: 20px;

                .font2 {
                    margin-bottom: 11px;
                }
            }
        }
    }

    .main8-4 {
        ul {
            display: flex;
            flex-wrap: wrap;
            word-wrap: break-word;

            li {
                display: inline-block !important;
            }
        }
    }
}

.footer-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    background-color: #2ad1ff;
    padding: 50px 0;

    .footer {
        display: flex;
        width: 90%;
        margin: 0 auto;
        padding: 0 30px;
        box-sizing: border-box;

        .twitter {
            margin: 0 0 0 auto;

            img {
                width: 20px;
                height: 20px;
                margin-right: 15px;
                vertical-align: bottom;
            }
        }

        p {
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.5px;
            line-height: 21px;
            margin: 0;
            font-family: Avenirnext, Arial, sans-serif;
        }
    }
}

@media screen and (max-width: 991px) {
    .footer-wrapper {
        .footer {
            margin: 0 auto;
            padding: 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .footer-wrapper {
        .footer {
            p {
                font-size: 11px;
            }
        }
    }
}

#tag1 {
    display: none;
}

.zyatti {
    display: none;
}

.tag:checked ~ .zyatti {
    display: block;
}

.check {
    display: none;
}
