body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Yu Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  margin-top: 160px;
  font-feature-settings: "palt";
}

.defalut {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 42px;
}

.sfont {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 26.6px;
}

.kata {
  box-sizing: border-box;
  width: 90%;
  margin: 120px auto 0;
  padding: 30px;
}

.btn-text {
  display: block;
  line-height: 60px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
}

.button {
  width: 260px;
  height: 60px;
  display: inline-block;
  background-color: black;
  border: none;
  border-radius: 10000px;
  box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.08);
  margin-top: 50px;
  margin-bottom: 365px;
}

.button:hover {
  box-shadow: none;
  cursor: pointer;
}

.header-wrapper {
  width: 100%;
  background-color: white;
  height: 160px;
  z-index: 99;
  position: fixed;
  top: 0;
}

.header-wrapper .header {
  box-sizing: border-box;
  height: 160px;
  background-color: white;
  z-index: 99;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 30px;
  top: 0;
}

.header-wrapper .header img {
  width: 120px;
  height: 38.08px;
}

.header-wrapper .header .header-right {
  margin: 0 0 0 auto;
}

.header-wrapper .header .header-right a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24.5px;
  margin: auto 0;
  padding: 0px 25px;
}

.header-wrapper .header .header-right .news {
  padding-right: 0;
}

.main1 {
  display: flex;
}

.main1 .main1-left {
  width: 50%;
}

.main1 .main1-left .logo2 {
  margin-bottom: -30px;
  margin-left: -10px;
  width: 204.16px;
  height: 92.67px;
}

.main1 .main1-left h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.5px;
  position: relative;
  margin: 0 0 50px 0;
}

.main1 .main1-left .logo {
  position: absolute;
  top: 0;
}

.main1 .main1-left .app {
  margin-right: 6px;
}

.main1 .main1-left p {
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

.main1 .main1-right {
  width: 50%;
}

.main1 .main1-right img {
  width: 100%;
  height: 416px;
}

.main2 {
  margin: 120px auto 0;
  position: relative;
}

.main2 .main2-1 h2 {
  margin: 0 0 35px 0;
}

.main2 .main2-1 p {
  margin: 0 0 15px 0;
}

.main2 .main2-1 span {
  margin-bottom: 30px;
}

.main2 .main2-1 .cash {
  margin-top: 30px;
  display: block;
  width: 220px;
  height: 43.27px;
}

.main2 .main2-1 .main2-3 {
  width: 325px;
  height: 215px;
  position: absolute;
  top: 365px;
  right: 360px;
}

.main2 .main2-1 .main2-4 {
  width: 325px;
  height: 215px;
  position: absolute;
  top: 495px;
  right: 35px;
}

.main2 .main2-2 {
  position: relative;
}

.main2 .main2-2 .main2-2-right {
  margin: 0 0 0 auto;
  max-width: 483.45px;
}

.main2 .main2-2 .main2-5 {
  position: absolute;
  width: 655px;
  height: 355px;
  top: 375px;
  left: 0;
}

.main3 {
  display: flex;
  padding: 0 30px;
  width: 90%;
  margin: 150px auto 120px;
  box-sizing: border-box;
}

.main3 img {
  width: 220px;
  height: 462px;
  margin: 0 10px;
}

.main3 h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 42px;
  margin: 0 0 30px 0;
  font-feature-settings: "palt";
}

.main3 p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 26.6px;
  margin: 0 0 104px 0;
  font-feature-settings: "palt";
}

.main3 .main3-left {
  width: 47.5%;
}

.main3 .main3-left .image1 {
  display: flex;
  margin-top: 24px;
  margin-left: 16px;
}

.main3 .main3-left .image1 img {
  border-radius: 20px;
}

.main3 .main3-right {
  width: 47.5%;
  margin: 0 0 50px auto;
}

.main3 .main3-right .image2 {
  display: flex;
  margin-top: 24px;
  margin-left: 16px;
}

.main3 .main3-right .image2 img {
  border-radius: 20px;
}

.main4 .main4-1-left {
  height: 546px;
  margin-bottom: 85px;
}

.main4 .main4-1-left h2 {
  margin: 0 0 35px 0;
}

.main4 .main4-1-left span {
  display: block;
}

.main4 .main4-2 {
  display: flex;
}

.main4 .main4-2 .main4-2-left {
  display: flex;
}

.main4 .main4-2 .main4-2-left .main4-3 {
  width: 220px;
  height: 460px;
  margin: 0 10px;
}

.main4 .main4-2 .main4-2-left .main4-4 {
  width: 220px;
  height: 460px;
  margin: 0 10px;
}

.main4 .main4-2 .main4-2-right {
  margin: 0 auto 0 0;
}

.main4 .main4-2 .main4-2-right .images {
  display: flex;
}

.main4 .main4-2 .main4-2-right .images img {
  margin: 0 15px;
}

.main4 .main4-2 .main4-2-right .images .main4-7 {
  width: 50px;
  height: 49px;
}
