@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Yu Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 160px;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1260px;
  padding-right: 30px;
  padding-left: 30px;
  -o-object-fit: fill;
     object-fit: fill;
  margin: 0 auto;
}

.container-m {
  width: 90%;
  max-width: 90vw;
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
}

.defalut {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 42px;
}

.sfont {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 26.6px;
}

.kata {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  padding: 0 30px;
}

.font1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 12px;
  display: block;
}

.font2 {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 21px;
  color: #0d97ff;
  text-decoration: none;
}

.font3 {
  font-size: 10.5px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 18.375px;
}

.font4 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.font5 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24.5px;
  color: #0d97ff;
  text-decoration: none;
}

.button-text {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 30px;
  width: 260px;
  padding: 15px 10px;
  text-align: center;
  border-radius: 10000px;
  position: relative;
}

.button-yazirusi {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 10px;
  top: 23px;
}

.button-a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  width: 260px;
  height: 60px;
  display: inline-block;
  background-color: #26262a;
  border: none;
  border-radius: 10000px;
  -webkit-box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.08);
}

.button:hover {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  -webkit-transform: translate3d(0, 5px, 0);
          transform: translate3d(0, 5px, 0);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

.active {
  height: 100px !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-wrapper {
  width: 100%;
  background-color: white;
  height: 160px;
  z-index: 99;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-wrapper .header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  background-color: white;
  z-index: 99;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  top: 0;
}

.header-wrapper .header img {
  width: 120px;
  height: 38.08px;
  float: left;
}

.header-wrapper .header .header-right {
  margin: 0 0 0 auto;
  position: relative;
  float: right;
  height: 100%;
}

.header-wrapper .header .header-right .header-right2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -50px;
  height: 100%;
  position: relative;
}

.header-wrapper .header .header-right .header-right2 a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: 100%;
  padding: 0 25px;
  position: relative;
  text-decoration: none;
}

.header-wrapper .header .header-right .header-right2 a .border-first {
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  height: 5px;
  width: 100%;
  background-color: #2ad1ff;
}

.header-wrapper .header .header-right .header-right2 a .border {
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  height: 5px;
  width: 0;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-wrapper .header .header-right .header-right2 a .font5 {
  color: black;
  margin: auto 0;
}

.header-wrapper .header .header-right .header-right2 a:hover .border {
  background-color: #2ad1ff;
  width: 100%;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-wrapper .header .header-right .header-right2 .news {
  padding-right: 0;
}

@media screen and (max-width: 991px) {
  .header-wrapper {
    height: 110px;
  }
  .header-wrapper .header {
    height: 110px;
    width: 90%;
    margin: 0 auto;
  }
  .header-wrapper .header .header-left {
    margin: 0 auto;
  }
  .header-wrapper .header .header-right {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-wrapper {
    height: 70px;
  }
  .header-wrapper .header {
    height: 70px;
  }
  .header-wrapper .header .header-left {
    margin: 0 auto;
  }
  .header-wrapper .header .header-right {
    display: none;
  }
}

.sitetop-kv {
  height: calc(100vh - 160px);
  position: relative;
  z-index: 1;
  overflow: visible;
  max-height: 700px;
  margin-bottom: 120px;
  padding-bottom: 0;
}

.main1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
}

.main1 .main1-left {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main1 .main1-left .logo2 {
  margin-bottom: -30px;
  margin-left: -10px;
  width: 204.16px;
  height: 92.67px;
}

.main1 .main1-left h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.5px;
  margin: 0 0 50px 0;
  right: 0;
  z-index: 99;
}

.main1 .main1-left .logo {
  position: absolute;
  top: 0;
}

.main1 .main1-left .app {
  margin-right: 6px;
}

.main1 .main1-left p {
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

.main1 .main1-right {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
  margin-left: auto;
}

.main1 .main1-right .slide-front {
  z-index: 2;
  width: 240px;
  height: 499.2px;
  max-height: 100%;
  max-width: 35%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.main1 .main1-right .slide-behaivor {
  z-index: 1;
  height: 100%;
  margin: auto;
  position: absolute;
  bottom: 0;
  width: auto;
  right: 0;
  top: 0;
  left: 0;
}

.main1 .main1-right .slide-behaivor .swiper-wrapper {
  -webkit-transform: scale(1.2, 1.2) translate3d(-5%, 0, 0);
          transform: scale(1.2, 1.2) translate3d(-5%, 0, 0);
}

.main1 .main1-right .slide-behaivor .swiper-slide {
  -webkit-transform: translate3d(-5%, 0, 0);
          transform: translate3d(-5%, 0, 0);
}

.main1 .main1-right .swiper-container {
  width: 100%;
}

.main1 .main1-right .swiper-slide img {
  width: auto;
  height: calc(100vh - 160px);
}

.main1 .main1-right2 {
  position: relative;
  z-index: 60;
  top: 0;
}

.main2 {
  margin-bottom: 60px;
  padding-bottom: 60px;
}

.main2 .contain {
  /*これ以外の実装方法もありそう*/
}

.main2 .contain .text {
  max-width: 590px;
}

.main2 .contain .text .f-1 h2 {
  z-index: 1;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.5;
}

.main2 .contain .text .f-2 {
  margin-bottom: 10px;
  line-height: 1.9;
  font-weight: 300;
}

.main2 .contain .text .span {
  margin-bottom: 30px;
  color: #808084;
}

.main2 .contain .text .f-3 {
  width: 220px;
  margin-bottom: 50px;
}

.main2 .contain .text .f-3 img {
  max-width: 100%;
  vertical-align: top;
  display: inline-block;
}

.main2 .contain .syasin {
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60.8%;
  /*ボタン横に持っていきながら、上に飛び出しを可能にしている*/
  margin-top: -100px;
  margin-left: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main2 .contain .syasin .syasin1-f {
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: 33%;
  position: relative;
}

.main2 .contain .syasin .syasin1-f .syasin1 {
  will-change: transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin-top: -10%;
  margin-left: -10%;
  position: absolute;
  top: 0;
  max-width: 120%;
  border: 0;
  vertical-align: middle;
  display: inline-block;
}

.main2 .contain .syasin2-f {
  will-change: transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: auto;
  overflow: hidden;
  width: 100%;
  margin-top: 20%;
  padding-top: 33%;
}

.main2 .contain .syasin2-f .syasin2 {
  will-change: transform;
  margin-top: -10%;
  margin-left: -2%;
  position: absolute;
  top: 0;
  max-width: 120%;
  border: 0;
  vertical-align: middle;
  display: inline-block;
}

.main2 .circle {
  will-change: transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  top: 800px;
  right: -50px;
  z-index: -20 !important;
  width: 50vw;
  height: 50vw;
  max-height: 900px;
  max-width: 900px;
  border-radius: 100000px;
  background-color: #2ad1ff;
}

@media screen and (max-width: 991px) {
  .main2 {
    margin-bottom: 120px;
    padding-bottom: 0;
  }
  .main2 .container {
    max-width: 90vw;
    padding-right: 0;
    padding-left: 0;
  }
  .main2 .container .contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .main2 .container .contain .f-2 {
    display: none;
  }
}

.main3 {
  position: relative;
  margin-bottom: 120px;
}

.main3 .contain2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main3 .contain2 .text {
  max-width: 590px;
}

.main3 .contain2 .text .f-1 {
  position: relative;
}

.main3 .contain2 .text .f-1 h2 {
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.5;
}

.main3 .contain2 .text .f-2 {
  margin-bottom: 30px;
  line-height: 1.9;
  font-weight: 300;
}

.main3 .contain2 .text .f-3 {
  width: 220px;
  margin-bottom: 50px;
}

.main3 .contain2 .text .f-3 img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.main3 .contain2 .text .button .f-4 {
  color: white;
  text-decoration: none;
}

.main3 .contain2 .syasin2 {
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60.8%;
  margin-top: 50px;
  margin-right: auto;
}

.main3 .contain2 .syasin2 .syasin3-f {
  overflow: hidden;
  width: 100%;
  padding-top: 55%;
  position: relative;
}

.main3 .contain2 .syasin2 .syasin3-f .syasin3 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  display: block;
  max-width: 120%;
  margin-top: -5%;
  margin-left: -10%;
  display: inline-block;
}

.main3 .contain2 .syasin2-f {
  will-change: transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: auto;
  overflow: hidden;
  width: 100%;
  margin-top: 20%;
  padding-top: 33%;
}

.main3 .contain2 .syasin2-f .syasin2 {
  margin-top: -10%;
  margin-left: -2%;
  position: absolute;
  top: 0;
  max-width: 120%;
  border: 0;
  vertical-align: middle;
  display: inline-block;
}

.main3 .circle2 {
  position: absolute;
  position: absolute;
  left: -50px;
  top: 160px;
  right: 0;
  z-index: -1;
  width: 50vw;
  height: 50vw;
  max-height: 900px;
  max-width: 900px;
  border-radius: 100000px;
  background-color: #2ad1ff;
}

/*.main2 {
    margin: 120px auto 0;
    position: relative;

    .main2-1 {
        h2 {
            margin: 0 0 35px 0;
        }

        p {
            margin: 0 0 15px 0;
        }

        span {
            margin-bottom: 30px;
        }

        .cash {
            margin-top: 30px;
            display: block;
            width: 220px;
            height: 43.27px;
        }

        .main2-3 {
            width: 325px;
            height: 215px;
            position: absolute;
            top: 365px;
            right: 360px;
        }

        .main2-4 {
            width: 325px;
            height: 215px;
            position: absolute;
            top: 495px;
            right: 35px;
        }
    }

    .main2-2 {
        position: relative;

        .main2-2-right {
            margin: 0 0 0 auto;
            max-width: 483.45px;
        }

        .main2-5 {
            position: absolute;
            width: 655px;
            height: 355px;
            top: 375px;
            left: 0;
        }
    }
}*/
/*.main3 {
    display: flex;
    padding: 0 30px;
    width: 90%;
    margin: 150px auto 120px;
    box-sizing: border-box;

    img {
        width: 220px;
        height: 462px;
        margin: 0 10px;
    }

    h2 {
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 42px;
        margin: 0 0 30px 0;
        font-feature-settings: "palt";
    }

    p {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 26.6px;
        margin: 0 0 104px 0;
        font-feature-settings: "palt";
    }

    .main3-left {
        width: 47.5%;

        .image1 {
            display: flex;
            margin-top: 24px;
            margin-left: 16px;

            img {
                border-radius: 20px;
            }
        }
    }

    .main3-right {
        width: 47.5%;
        margin: 0 0 50px auto;

        .image2 {
            display: flex;
            margin-top: 24px;
            margin-left: 16px;

            img {
                border-radius: 20px;
            }
        }
    }
}*/
.main4 {
  margin-bottom: 120px;
}

.main4 .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main4 .section .main4-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
}

.main4 .section .main4-right .text {
  margin-bottom: 50px;
  max-width: 590px;
}

.main4 .section .main4-right .text .he h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.main4 .section .main4-right .text .sfont {
  margin-bottom: 30px;
}

.main4 .section .main4-right .main4-rimg {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main4 .section .main4-right .main4-rimg .img50 {
  margin: 0 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
  width: 220px;
  max-width: 100%;
}

.main4 .section .main4-right .main4-rimg .img51 {
  margin: 0 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
  max-width: 100%;
  width: 220px;
}

.main4 .section .main4-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
}

.main4 .section .main4-left .text {
  margin-bottom: 50px;
  max-width: 590px;
}

.main4 .section .main4-left .text .he h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.main4 .section .main4-left .text .sfont {
  margin-bottom: 30px;
}

.main4 .section .main4-left .main4-limg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main4 .section .main4-left .main4-limg .img52 {
  margin: 0 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
  max-width: 100%;
  width: 220px;
}

.main4 .section .main4-left .main4-limg .img53 {
  margin: 0 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
  max-width: 100%;
  width: 220px;
}

.nanasi {
  margin-top: 120px;
}

.main10 {
  overflow: hidden;
  margin-bottom: 120px;
}

.main10 .content .contain {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main10 .content .contain .section {
  max-width: 500px;
  margin-right: 50px;
}

.main10 .content .contain .section .text1 {
  margin-bottom: 30px;
  z-index: 2;
}

.main10 .content .contain .section .text1 h2 {
  position: relative;
  margin: 0;
}

.main10 .content .contain .section .text1 .circle2 {
  z-index: 1;
  position: absolute;
  left: 18em;
  top: -20px;
  bottom: auto;
  width: 50px;
  height: 50px;
}

.main10 .content .contain .section .text1 .circle2 .circle3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 50px;
  max-width: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100000px;
  background-color: #ffc700;
  font-size: 1em;
}

.main10 .content .contain .section .text2 {
  margin-bottom: 30px;
  line-height: 1.9;
  font-weight: 300;
}

.main11 {
  overflow: visible;
  margin-bottom: 70px;
}

.main11 .contain {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main11 .contain .main11-left {
  width: 550px;
  margin-right: 50px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main11 .contain .main11-left .d61 {
  margin: 0 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
  max-width: 100%;
  width: 220px;
}

.main11 .contain .main11-left .d62 {
  position: relative;
  margin: 0 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 15px 17px -15px rgba(0, 0, 0, 0.15);
  max-width: 100%;
  width: 220px;
}

.main11 .contain .main11-right {
  max-width: 590px;
}

.main11 .contain .main11-right .text11 h2 {
  margin-bottom: 30px;
}

.main11 .contain .main11-right .text12 {
  margin-bottom: 30px;
  line-height: 1.9;
  font-weight: 300;
}

.main11 .contain .main11-right .text15 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.main11 .contain .main11-right .text15 .f102 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main11 .contain .main11-right .text15 .f102 .f98 {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.main11 .contain .main11-right .text15 .f102 .f98 .f90 {
  z-index: 1;
  display: block;
  margin-right: 0;
}

.main11 .contain .main11-right .text15 h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #26262a;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
}

/*.main4 {
    .main4-1-left {
        height: 546px;
        margin-bottom: 85px;

        h2 {
            margin: 0 0 35px 0;
        }
        span {
            display: block;
        }
    }

    .main4-2 {
        display: flex;

        .main4-2-left {
            display: flex;

            .main4-3 {
                width: 220px;
                height: 460px;
                margin: 0 10px;
            }

            .main4-4 {
                width: 220px;
                height: 460px;
                margin: 0 10px;
            }
        }

        .main4-2-right {
            margin: 0 auto 0 0;
            .images {
                display: flex;

                img {
                    margin: 0 15px;
                }

                .main4-7 {
                    width: 50px;
                    height: 49px;
                }
            }
        }
    }
}*/
.main5 {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #2ad1ff;
}

.main5 .main5-wrapper {
  width: 90%;
  max-width: 1260px;
  padding-right: 30px;
  padding-left: 30px;
  /*object-fit: fill;*/
  margin: 0 auto;
}

.main5 .main5-wrapper .main5-contain {
  margin-bottom: 70px;
}

.main5 .main5-wrapper .main5-contain .defalut {
  margin-top: 0;
  margin-bottom: 30px;
}

.main5 .main5-wrapper .main5-contain .sfont {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 23.8px;
  color: black;
  text-align: left;
}

.main5 .main5-wrapper .main5-contain p {
  margin-top: 0;
  margin-bottom: 30px;
}

.main5 .main5-wrapper .company {
  position: relative;
  display: block;
  overflow: visible;
  width: auto;
  margin-right: -8.3333vw;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.main5 .main5-wrapper .company-low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  border-right-color: #000;
}

.main5 .main5-wrapper .company-colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 16.6666%;
  margin-right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main5 .main5-wrapper .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 154px;
  min-height: auto;
  margin-bottom: 0;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #fff;
}

.main5 .main5-wrapper .wrap .font3 {
  margin: 0;
}

.main5 .main5-wrapper .logo5 {
  display: block;
  width: 80%;
  height: 40px;
  max-width: 165px;
  margin-right: auto;
  margin-bottom: 1px;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main5 .main5-wrapper .logo5 img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.main5 .main5-wrapper p {
  color: #808084;
  font-size: 10.5px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 18.375px;
  text-align: center;
  margin: 0;
}

.main5 .main5-wrapper .main5-after .sfont {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 23.8px;
  color: black;
  text-align: left;
}

.main5 .main5-wrapper .main5-after .defalut {
  margin-bottom: 30px;
}

.main5 .main5-wrapper .main5-after p {
  margin-top: 0;
  margin-bottom: 30px;
}

.main5 .main5-wrapper .main5-after .font3 {
  margin: 0;
}

.main5 .main5-wrapper .main5-after .houzin {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main5 .main5-wrapper .main5-after .houzin p {
  margin: 0;
  cursor: pointer;
}

.main5 .main5-wrapper .main5-after .yazirusi {
  background-image: url(https://global-uploads.webflow.com/5db15c3bca3871afff172c17/5f3b7d4bb40b9fe7d1db5672_direction_right-link-textcolor.svg);
  background-size: contain;
  width: 14px;
  height: 14px;
  margin: 4px 0 0 4px;
}

.main6 {
  padding: 120px 0;
  background-color: #003ab8;
  color: #fff;
}

.main6 .none {
  display: none;
}

.main6 .main6-1 {
  margin-bottom: 70px;
}

.main6 .main6-1 h2 {
  margin-top: 0;
  margin-bottom: 35px;
  color: #fff;
  font-size: 42px !important;
  line-height: 1.5;
}

.main6 .main6-1 h2 img {
  position: relative;
  margin-bottom: -30px;
  margin-right: 5px;
  right: 5px;
  width: 198.56px;
  height: 90px;
  font-size: 70px;
}

.main6 .main6-1 .sfont span {
  font-weight: 700;
}

.main6 .main6-1 .app {
  margin-top: 50px;
}

.main6 .main6-1 .app img {
  display: inline-block;
  margin-right: 5px;
  text-align: left;
}

.main6 .main6-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -8.333vw;
  margin-bottom: 70px;
  padding-top: 70px;
  padding-bottom: 40px;
  padding-left: 70px;
  background-color: #fff;
  color: #26262a;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main6 .main6-2 h2 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 50px;
  line-height: 42px;
}

.main6 .main6-2 .basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main6 .main6-2 .basic .basic-left {
  width: 350px !important;
  margin-right: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main6 .main6-2 .basic .basic-left .font1 {
  color: #808084;
  margin-bottom: 10px;
}

.main6 .main6-2 .basic .basic-left .attention {
  display: inline-block;
  width: 270px;
  margin-bottom: 20px;
  padding: 10px 5px;
  border-radius: 2px;
  background-color: #ffc700;
  text-align: center;
  color: #26262a;
  line-height: 12px;
}

.main6 .main6-2 .basic .basic-left h3 {
  margin: 0;
}

.main6 .main6-2 .basic .basic-right {
  width: 100%;
  color: #808084;
}

.main6 .main6-2 .basic .basic-right .border {
  width: 100%;
  height: 1px;
  background-color: #b8b8bc;
  color: #b8b8bc;
}

.main6 .main6-2 .basic .basic-right .border-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main6 .main6-2 .basic .basic-right .border-content .border-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 30px;
  margin-left: -5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main6 .main6-2 .basic .basic-right .border-content .border-1 .mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -33px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.main6 .main6-2 .basic .basic-right .border-content .border-1 .number {
  margin-bottom: 10px;
  font-family: Avenirnext, Arial, sans-serif;
  color: #b8b8bc;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
}

.main6 .main6-2 .basic .basic-right .border-content .border-1 .point {
  width: 5px;
  height: 5px;
  border-radius: 10000px;
  background-color: #b8b8bc;
  color: #b8b8bc;
}

.main6 .main6-2 .basic .basic-right .border-content .border-1 img {
  border: 0;
  width: 55px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}

.main6 .main6-2 .basic .basic-right .border-content .border-1 .border1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-left: -22px;
  padding-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main6 .main6-2 .basic .basic-right .border-content .border-1 .border1-content .font2 {
  line-height: 18px;
  color: #26262a;
}

.main6 .main6-2 .basic .basic-right .border-content .border-1 .border1-content .font2 span {
  color: #0d97ff;
}

.main6 .main6-2 .hattenn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main6 .main6-2 .hattenn .hattenn-left {
  width: 350px !important;
  margin-right: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main6 .main6-2 .hattenn .hattenn-left .font1 {
  color: #808084;
  margin-bottom: 10px;
}

.main6 .main6-2 .hattenn .hattenn-left .attention {
  display: inline-block;
  width: 270px;
  margin-bottom: 20px;
  padding: 10px 5px;
  border-radius: 2px;
  background-color: #ffc700;
  text-align: center;
  color: #26262a;
  line-height: 12px;
}

.main6 .main6-2 .hattenn .hattenn-left h3 {
  margin: 0;
}

.main6 .main6-2 .hattenn .hatten-right {
  width: 100%;
  color: #808084;
}

.main6 .main6-2 .hattenn .hatten-right .border {
  width: 100%;
  height: 1px;
  background-color: #b8b8bc;
  color: #b8b8bc;
}

.main6 .main6-2 .hattenn .hatten-right .border-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main6 .main6-2 .hattenn .hatten-right .border-content .border-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 30px;
  margin-left: -5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main6 .main6-2 .hattenn .hatten-right .border-content .border-1 .mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -33px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.main6 .main6-2 .hattenn .hatten-right .border-content .border-1 .number {
  margin-bottom: 10px;
  font-family: Avenirnext, Arial, sans-serif;
  color: #b8b8bc;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
}

.main6 .main6-2 .hattenn .hatten-right .border-content .border-1 .point {
  width: 5px;
  height: 5px;
  border-radius: 10000px;
  background-color: #b8b8bc;
  color: #b8b8bc;
}

.main6 .main6-2 .hattenn .hatten-right .border-content .border-1 img {
  border: 0;
  width: 55px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}

.main6 .main6-2 .hattenn .hatten-right .border-content .border-1 .border1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-left: -22px;
  padding-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main6 .main6-2 .hattenn .hatten-right .border-content .border-1 .border1-content .font2 {
  line-height: 18px;
  color: #26262a;
}

.main6 .main6-2 .hattenn .hatten-right .border-content .border-1 .border1-content .font2 span {
  color: #0d97ff;
}

@media screen and (max-width: 991px) {
  .main6 {
    padding: 90px 0;
  }
  .main6 .container {
    padding: 0;
  }
  .main6 .container .main6-2 {
    padding-top: 50px;
    padding-left: 50px;
  }
  .main6 .container .main6-2 .basic {
    display: block;
  }
  .main6 .container .main6-2 .basic .basic-left {
    width: auto !important;
    margin-bottom: 70px;
  }
  .main6 .container .main6-2 .basic .attention {
    padding: 8px 5px;
  }
  .main6 .container .main6-2 .basic .none {
    display: none;
  }
  .main6 .container .main6-2 .basic .basic-right .border-content .border1-content {
    padding-top: 10px;
  }
  .main6 .container .main6-2 .hattenn {
    display: block;
  }
  .main6 .container .main6-2 .hattenn .hattenn-left {
    width: auto !important;
    margin-bottom: 70px;
  }
  .main6 .container .main6-2 .hattenn .attention {
    padding: 8px 5px;
  }
  .main6 .container .main6-2 .hattenn .none {
    display: none;
  }
  .main6 .container .main6-2 .hattenn .hatten-right .border-content .border1-content {
    padding-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .main6 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .main6 .container .main6-1 {
    margin-bottom: 50px;
  }
  .main6 .container .main6-1 h2 {
    font-size: 22px !important;
    line-height: 66px;
    margin-bottom: 25px;
  }
  .main6 .container .main6-1 h2 img {
    top: -10px;
    width: 125px;
    height: 56px;
  }
  .main6 .container .main6-1 .app {
    margin-top: 35px;
  }
  .main6 .container .main6-2 {
    padding: 40px 0 0 40px;
    margin-bottom: 50px;
  }
  .main6 .container .main6-2 .none {
    display: block;
  }
  .main6 .container .main6-2 h2 {
    font-size: 19px;
    line-height: 28.5px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
  }
  .main6 .container .main6-2 h3 {
    font-size: 17px;
  }
  .main6 .container .main6-2 .basic {
    margin-bottom: 40px;
  }
  .main6 .container .main6-2 .basic-right {
    position: relative;
    padding-left: 25px;
  }
  .main6 .container .main6-2 .basic-right .border {
    width: 1px;
    height: 100%;
    position: absolute;
  }
  .main6 .container .main6-2 .basic-right .border-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -30px;
  }
  .main6 .container .main6-2 .basic-right .border-content .border-1 {
    margin-bottom: 10px;
    margin-left: -20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main6 .container .main6-2 .basic-right .border-content .border-1 .mark {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: -10px;
    /*margin-top: -8px;
                                padding-left: 2px;*/
  }
  .main6 .container .main6-2 .basic-right .border-content .border-1 .mark .number {
    margin-right: 12px;
    margin-bottom: 0px;
  }
  .main6 .container .main6-2 .basic-right .border-content .border-1 img {
    width: 45px;
  }
  .main6 .container .main6-2 .basic-right .border-content .border-1 .font2 {
    margin: 0;
  }
  .main6 .container .main6-2 .basic-right .border-content .border-1 .border1-content {
    margin-left: 20px;
  }
  .main6 .container .main6-2 .hattenn {
    margin-bottom: 40px;
  }
  .main6 .container .main6-2 .hatten-right {
    position: relative;
    padding-left: 25px;
  }
  .main6 .container .main6-2 .hatten-right .visible {
    display: none;
  }
  .main6 .container .main6-2 .hatten-right .none {
    display: block;
  }
  .main6 .container .main6-2 .hatten-right .border {
    width: 1px;
    height: 100%;
    position: absolute;
  }
  .main6 .container .main6-2 .hatten-right .border-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -30px;
  }
  .main6 .container .main6-2 .hatten-right .border-content .border-1 {
    margin-bottom: 10px;
    margin-left: -20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main6 .container .main6-2 .hatten-right .border-content .border-1 .mark {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: -10px;
    /*margin-top: -8px;
                                padding-left: 2px;*/
  }
  .main6 .container .main6-2 .hatten-right .border-content .border-1 .mark .number {
    margin-right: 12px;
    margin-bottom: 0px;
  }
  .main6 .container .main6-2 .hatten-right .border-content .border-1 img {
    width: 45px;
  }
  .main6 .container .main6-2 .hatten-right .border-content .border-1 .font2 {
    margin: 0;
  }
  .main6 .container .main6-2 .hatten-right .border-content .border-1 .border1-content {
    margin-left: 20px;
  }
  .main6 .container .button {
    margin: 0 auto;
    display: block;
  }
}

.main7 {
  padding-top: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid #b8b8bc;
  border-radius: 1px;
}

.main7 .nakami {
  position: relative;
  z-index: 1;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main7 .nakami .news-tab {
  margin-bottom: 20px;
  border-bottom: 1px solid #b8b8bc;
  font-weight: 300;
}

.main7 .nakami .news-tab input {
  display: none;
}

.main7 .nakami .news-tab .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main7 .nakami .news-tab .wrap .tab-btn {
  position: relative;
  cursor: pointer;
}

.main7 .nakami .news-tab .wrap .tabs {
  padding: 0 25px 30px;
}

.main7 .nakami .news-tab .wrap .mitei {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main7 .nakami .news-tab .wrap .mitei .tab-light {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.main7 .nakami .news-tab .wrap .mitei .tab-light .tab-light-hon {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 10000px;
  background-color: #b8b8bc;
}

.main7 .nakami .news-tab .wrap .mitei .tab-light .tab-light-hon-active {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 10000px;
  background-color: #2ad1ff;
  -webkit-transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main7 .nakami .news-tab .wrap .mitei p {
  line-height: 14px;
  margin: 0;
}

.main7 .nakami .news-tab .wrap .bar {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background-color: #2ad1ff;
  left: 0;
  bottom: -2px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main7 .nakami .news-tab .wrap .bar.active {
  width: 100%;
  height: 5px !important;
}

.main7 .nakami .text16 {
  margin: 0 0 70px 0;
}

.main7 .nakami .text16 h2 {
  margin-top: 0;
}

.main7 .nakami .news-content {
  display: block;
  overflow: hidden;
}

.main7 .nakami .news-content .show {
  display: block !important;
}

.main7 .nakami .news-content .tab-content {
  display: none;
  opacity: 1;
  -webkit-transition: opacity 150ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: opacity 150ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
  position: relative;
}

.main7 .nakami .news-content .tab-content .tav {
  display: block;
}

.main7 .nakami .news-content .tab-content .tav .news-area {
  display: block;
  padding-top: 0;
  border-radius: 2px;
  background-color: transparent;
}

.main7 .nakami .news-content .tab-content .tav .news-area .gomi ul {
  margin: 0 0 30px 0;
  padding-left: 0;
  list-style: none;
}

.main7 .nakami .news-content .tab-content .tav .news-area .gomi ul .additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main7 .nakami .news-content .tab-content .tav .news-area .gomi ul li {
  padding-top: 30px;
  padding-bottom: 25px;
  list-style: none;
  border-bottom: 1px solid #eaeaef;
}

.main7 .nakami .news-content .tab-content .tav .news-area .gomi ul li p {
  font-weight: 400;
  color: #808084;
  font-family: "Avenir Next";
  margin-bottom: 15px;
  margin-top: 0;
}

.main7 .nakami .news-content .tab-content .tav .news-area .gomi .additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main7 .nakami .news-content .tab-content .tav .news-area .gomi .additional a {
  text-decoration: none;
}

.main7 .nakami .news-content .tab-content .tav .news-area .gomi .additional img {
  width: 14px;
  height: 14px;
  margin: auto 0 auto 5px;
  vertical-align: middle;
}

.main7 .nakami .tab-content {
  display: none;
}

.main7 .nakami .active {
  display: block;
}

@media screen and (max-width: 991px) {
  .main7 {
    border-bottom: 1px solid #eaeaef;
  }
  .main7 .container {
    padding: 0;
  }
  .main7 .container .nakami .text16 {
    margin-bottom: 50px;
  }
  .main7 .container .nakami .wrap .tabs {
    width: 50%;
    padding: 20px;
    margin: 0;
  }
  .main7 .container .nakami .wrap .tabs .mitei .tab-light {
    width: 12px;
    height: 12px;
  }
  .main7 .container .nakami .wrap .tabs .mitei .sfont {
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (max-width: 767px) {
  .main7 .container .nakami .text16 {
    margin-bottom: 50px;
  }
  .main7 .container .nakami .text16 h2 {
    font-size: 22px;
    line-height: 33px;
  }
  .main7 .container .nakami .wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main7 .container .nakami .wrap .tabs {
    width: 50%;
    padding: 20px;
    margin: 0;
  }
  .main7 .container .nakami .wrap .tabs .mitei .tab-light {
    width: 12px;
    height: 12px;
  }
  .main7 .container .nakami .wrap .tabs .mitei .sfont {
    font-size: 12px;
    line-height: 12px;
  }
  .main7 .container .nakami .wrap .tabs .active {
    display: none;
  }
}

.main8 {
  white-space: nowrap;
  padding-top: 70px;
  padding-bottom: 50px;
  border-top: 1px solid #eaeaef;
}

.main8 .none {
  display: none;
}

.main8 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main8 .title h4 {
  margin-right: 564px;
  margin-bottom: 30px;
}

.main8 .main8-top {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #eaeaef;
}

.main8 .main8-logo {
  width: 130px;
  margin-bottom: 30px;
  vertical-align: bottom;
}

.main8 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.main8 .main8-2 {
  margin-right: 12px;
}

.main8 .low-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #eaeaef;
}

.main8 .left-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
}

.main8 .left-row h4 {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.main8 .first-row {
  margin-right: 50px;
}

.main8 .first-row a {
  display: block;
  margin-bottom: 15px;
}

.main8 .right-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
}

.main8 .main8-4 .font1 {
  margin-bottom: 30px;
}

.main8 .main8-4 .font2 {
  padding: 0;
  color: black;
}

.main8 .main8-4 .main8-5 {
  margin-top: 35px;
}

.main8 .main8-4 ul {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main8 .main8-4 ul li {
  padding-right: 12px;
  margin-right: 12px;
  border-right: 1px solid #eaeaef;
}

@media screen and (max-width: 991px) {
  .main8 {
    width: 90%;
    padding: 0;
    white-space: nowrap;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: none;
  }
  .main8 .sp-none {
    display: none;
  }
  .main8 .none {
    display: block;
  }
  .main8 .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main8 .title h4 {
    margin-right: 564px;
    margin-bottom: 30px;
  }
  .main8 .main8-top {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eaeaef;
  }
  .main8 .main8-logo {
    width: 120px;
    margin-bottom: 30px;
    vertical-align: bottom;
  }
  .main8 .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
  }
  .main8 .main8-2 {
    margin-right: 12px;
  }
  .main8 .low-wrapper {
    display: block;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eaeaef;
  }
  .main8 .left-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  .main8 .left-row h4 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .main8 .first-row {
    margin-right: 50px;
  }
  .main8 .first-row a {
    display: block;
    margin-bottom: 15px;
  }
  .main8 .right-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 50px;
  }
  .main8 .main8-4 .font1 {
    margin-bottom: 30px;
  }
  .main8 .main8-4 .font2 {
    padding: 0;
    color: black;
  }
  .main8 .main8-4 .main8-5 {
    margin-top: 35px;
  }
  .main8 .main8-4 ul {
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-x: initial;
  }
  .main8 .main8-4 ul li {
    padding-right: 12px;
    margin-right: 12px;
    border-right: 1px solid #eaeaef;
  }
}

@media screen and (max-width: 767px) {
  .main8 .main8-top {
    padding-bottom: 40px;
    margin: 0 auto 40px;
    text-align: center;
  }
  .main8 .main8-top .main8-logo {
    display: block;
    margin: 0 auto 30px;
  }
  .main8 .main8-top .logo {
    display: inline-block;
  }
  .main8 .main8-top .logo img {
    height: 40px;
  }
  .main8 .main8-top .logo .main8-2 {
    margin-right: 8px;
  }
  .main8 .low-wrapper .font1 {
    color: #808084;
    margin-bottom: 15px;
  }
  .main8 .low-wrapper .none {
    color: black;
    margin-top: 30px;
  }
  .main8 .low-wrapper .left-row {
    display: block;
    margin: 0;
  }
  .main8 .low-wrapper .left-row .first-row {
    margin-bottom: 20px;
  }
  .main8 .low-wrapper .left-row .first-row .font1 {
    color: #808084;
    margin-bottom: 20px;
    margin-top: 3px;
  }
  .main8 .low-wrapper .left-row .first-row .font2 {
    margin-bottom: 8px;
  }
  .main8 .low-wrapper .right-row {
    display: block;
    margin-top: 20px;
  }
  .main8 .low-wrapper .right-row .font2 {
    margin-bottom: 11px;
  }
  .main8-4 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    word-wrap: break-word;
  }
  .main8-4 ul li {
    display: inline-block !important;
  }
}

.footer-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 124px;
  background-color: #2ad1ff;
  padding: 50px 0;
}

.footer-wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-wrapper .footer .twitter {
  margin: 0 0 0 auto;
}

.footer-wrapper .footer .twitter img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  vertical-align: bottom;
}

.footer-wrapper .footer p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 21px;
  margin: 0;
  font-family: Avenirnext, Arial, sans-serif;
}

@media screen and (max-width: 991px) {
  .footer-wrapper .footer {
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer-wrapper .footer p {
    font-size: 11px;
  }
}

#tag1 {
  display: none;
}

.zyatti {
  display: none;
}

.tag:checked ~ .zyatti {
  display: block;
}

.check {
  display: none;
}
/*# sourceMappingURL=style.css.map */